name: Moodle Plugin CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  call:
    name: ""
    uses: learnweb/moodle-workflows-learnweb/.github/workflows/moodle-ci.yml@main
    with:
      allow-mustache-lint-error: true
